.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.info img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info p{
  font-size: 15px;
  line-height: 7px;
}

.desc{
  padding: 10px 0;
}

.project{
  padding-bottom: 10px;
}

.form{
  width: 40%;
}